
.col1 {
    background-color:red;
}

.col2 {
    background-color:blue;
}

.col3 {
    background-color:yellow;
}

.col4 {
    background-color:pink;
}

.col5 {
    background-color: brown;
}

.col6 {
    background-color:cyan;
}



.colIcon {
    background-color: blue;
}

